Source: i3status
Section: utils
Priority: extra
Maintainer: Michael Stapelberg <michael@stapelberg.de>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 5), libiw-dev
Standards-Version: 3.8.2
Homepage: http://i3.zekjur.net/i3status

Package: i3status
Architecture: any
Priority: extra
Section: utils
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: dzen2 | wmii
Description: Generates a status line for dzen2 or wmii
 i3status is a program running in background, feeding dzen2 or filling up
 wmii's status bar using wmiis plan9 pseudo file system (therefore, you
 need 9pfs) by combining several system information (current IP addresses,
 battery status, date/time, system load, etc.).
